
span.a {
    display: inline-block;
    vertical-align: top;
    }
.logo {
    background-image:url("Wix Logo Maker 1.png");
        width: 23%;
        padding: 1%;
    }
    .nav {
        width: 73%;
        padding: 1%;
    }
    .ul{
        background-color: #D8E2FB;
        width: 50%;
        margin-right: auto;
    
    }
    section {
        height: 600px;
        padding: 25px;

    }
    ::content {
        width: 500px;
        margin:0 auto;
    }
    ul{
        display: inline-block;
        vertical-align: top;
        padding: center;
    }